.fond{
    background-color: aqua;
}
.tel{
font-size: small;heigh: 50px;width: 50px;
}

.e-mail{
    font-size: small;heigh: 50px;width: 50px;
}
.Officiel{
    font-size: small;heigh: 50px;width: 50px;
}
.instagram{
    font-size: small;heigh: 50px;width: 50px;
}
.webca{
    font-size: small;heigh: 40px;width: 40px;
}
    
.twitter{
    font-size: small;heigh: 50px;width: 50px;
}
.ca{
    font-size: large;height: 300px; width:200px; ;
    
    padding-left: 100px;
}
.clubafricain{
    color: red;padding-left: 80px;
}
.followers{
    color: aliceblue;font-size: 100%;
    padding-left: 80px;
    
}
.qualifié{
    color: beige;
}
.caf{
    font-size: medium;height: 400px;width: 400px;
    margin-left: 450px;
}
.club{
    color: red;
}
.video{
    font-size:large; height: 500px; width: 800px;
    padding-left: 260px;
}
.laabidi{
    color: beige;
    padding-left: 260px;
}
.palmares{
    color: red;
}
.table{
    color:blue;border-color:chocolate;
    
}